{#
/**
 * @file alias.html.twig
 * Default theme implementation to present Alias data.
 *
 * This template is used when viewing Alias pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_alias()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('alias') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
