{#
/**
 * @file alias_domain.html.twig
 * Default theme implementation to present Alias Domain data.
 *
 * This template is used when viewing Alias Domain pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_alias_domain()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('alias_domain') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
