{#
/**
 * @file mailbox.html.twig
 * Default theme implementation to present Mailbox data.
 *
 * This template is used when viewing Mailbox pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mailbox()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mailbox') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
